<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.5/datatables.min.js"></script>
</head>
<script>
    let table;
    let param_line = "";

    $(document).ready(function () {
        table = $('#myTable').DataTable({
            serverSide: true, //데이터 서버사이드 처리 활성화.
            processing: true, //서버측 처리를 위해 테이블이 처리중 일때 '처리 중' 표시기의 표시를 활성화 또는 비활성화 한다.
            pageLength: 10, //한 페이지에 표시할 행의 개수
            searching: false,
            ajax: {
                url: '/search',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',

                data: function(d){
                    Object.assign(d,{"data": {"name": $('#search_text').val()}});
                    console.log(d);
                    return JSON.stringify(d);
                },
            },
            columns: [
                {data: "id"},
                {data: "name"},
                {data: "age"},
                {data: "hobby"},
            ],
        });
    });
    $("#search").on("click", function() {
        table.ajax.reload();
    });
</script>
<body>
    <input type="text" id="search_text" onKeyPress="if( event.keyCode==13 ){table.ajax.reload()}">
    <button type="button" id="search">검색</button>
    <table id="myTable" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Hobby</th>
        </tr>
        </thead>
    </table>
</body>
</html>